<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/application">Application</a></li>
        <li><a href="/transport">Transport</a></li>
        <li><a href="/network" class="current">Network</a></li>
    </ul>
</nav>