<main id="home">
    <div class="left">
        <p>Networking can be organized into a series of layers<a href="#footnote-1"><sup>1</sup></a>:</p>

        <ul>
            <li><strong>Application</strong></li>
            <li><strong>Transport</strong></li>
            <li><strong>Network</strong></li>
            <li>Link</li>
            <li>Physical</li>
        </ul>

        <p>Starting from the top down, each layer makes use of the layer immediately beneath it until we get to the physical layer. 
            This site will cover the top three layers. 
            <br><br>
            The application layer contains the things we care about (e.g., computer programs, apps, etc.). 
            The transport contains the protocols that make it possible for applications to send and receive data between each other. 
            The network layer contains the protocols that enable hosts to reach each other across the Internet.</p>

        <p class="has-fake-data"><%= fakeContent %></p>
    </div
    ><div class="right">
        <figure>
            <img src="/img/pexels-brett-sayles-2881232-resized.jpg" alt="Computer network cables1">
            <div>Photo by <a target="_blank" href="https://www.pexels.com/@brett-sayles?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Brett Sayles</a> from <a target="_blank" href="https://www.pexels.com/photo/ethernet-cable-connected-to-a-compartment-port-2881232/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels">Pexels</a>.</div>
        </figure>
    </div>
</main>

<div id="footnotes">
    <hr>
    <h4>Sources</h4>
    <ul>
        <li id="footnote-1"><a target="_blank" href="https://www.cloudflare.com/learning/network-layer/what-is-the-network-layer/">[1]</a> What is the network layer? | Network vs. Internet layer</li>
    </ul>
</div>